@import url('fuentes/fonts.css');
@import url('variables.css');

.seccion-exitos {
    width: 100%;
    padding: 80px 40px 0;
}

.seccion-exitos h1 {
    font-size: 30px;
    color: var(--clr-scdy);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.seccion-exitos > p {
    font-size: 16px;
    font-weight: bold;
    color: var(--clr-6);
    margin: 10px 0 30px;
    text-align: center;
}


.seccion-exitos .casos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.seccion-exitos .cada-trabajo {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.seccion-exitos .cada-trabajo .trabajo-img {
    width: 100%;
    height: 380px;
    border-radius: 8px;
    overflow: hidden;
}

.seccion-exitos .cada-trabajo .trabajo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.seccion-exitos .cada-trabajo .trabajo-img:hover img {
    transform: scale(1.06);
}

.seccion-exitos .cada-trabajo h4 {
    font-size: 20px;
    color: var(--clr-scdy);
}

.seccion-exitos .cada-trabajo p {
    font-size: 16px;
    color: var(--clr-6);
}

.seccion-exitos .cada-trabajo a {
    font-size: 14px;
    color: var(--clr-6);
}

.seccion-exitos > a {
    font-size: 16px;
    padding: 15px 30px;
    margin-top: 20px;
    background: var(--clr-scdy);
    color: #fff;
    border: none;
    border-radius: 50px;
}